@import '../Common/css/base';

.ui-input {
  &__label {
    position: relative;

    display: block;

    padding: calc(var(--ui-size-padding) * 0.25) 0 calc(var(--ui-size-padding) * 0.5) 0;
    margin:  0 0 calc(var(--ui-size-padding) * 0.25) 0;
  }

  &__title {
    display: block;

    margin:  calc(var(--ui-size-padding) * 0.45) 0 calc(var(--ui-size-padding) * 0.25) 0;

    font-size: var(--ui-type-body-size-3);
    font-weight: bold;
  }

  &__input {
    position: relative;

    padding: 0;
    outline: 0;

    border: 0;

    width: 100%;

    &[type="number"]::-webkit-outer-spin-button, &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="number"] {
        -moz-appearance: textfield;

        text-align: center;
    }
  }

  &__underline {
    position: absolute;

    top: 100%;
    left: 0;

    height: var(--ui-size-border-width);
    width: 100%;

    background-color: var(--ui-color-primary-4);

    transform: scaleX(0.2);
    transform-origin: top left;

    transition: {
      duration: var(--ui-duration-normal);
      timing-function: var(--ui-timing-function);
    }

    &:before {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      transform: scaleX(0);
      transform-origin: top left;

      transition: {
        duration: var(--ui-duration-normal);
        timing-function: var(--ui-timing-function);
      }

      .ui-input__normal & {
        background-color: var(--ui-color-accent-2);
      }

      .ui-input__error & {
        background-color: var(--ui-color-error-2);
      }

      .ui-input__success & {
        background-color: var(--ui-color-success-2);
      }

      .ui-input__warn & {
        background-color: var(--ui-color-warn-2);
      }

      .ui-input__minimal & {
        background-color: var(--ui-color-primary-2);
      }
    }
  }

  &__input:hover ~ .ui-input__underline {
    transform: scaleX(0.5);

    &:before {
      transform: scaleX(0.1);
    }
  }

  &__input:focus ~ .ui-input__underline {
    transform: scaleX(1);

    &:before {
      transform: scaleX(1);
    }
  }
}
