@import '../Common/css/base';

.button {
  display: inline-flex;

  align-items: center;

  font-family: inherit;
  font-weight: bold;
  border-radius: var(--ui-border-radius);

  margin: 0 ui-rem(3px);

  outline: 0;

  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;

    background-color: var(--ui-color-primary-4);
  }
}

.outlined {
  border-style: solid;
  border-width: var(--ui-size-border-width);
}

.normal {
  background-color: var(--ui-color-accent-1);
  color: white;

  &.hoverable:hover,
  &.hoverable:focus {
    background-color: var(--ui-color-accent-3);
  }

  &.outlined {
    background-color: var(--ui-color-accent-5);
    color: var(--ui-color-accent-1);

    border-color: var(--ui-color-accent-1);
  
    &.hoverable:hover,
    &.hoverable:focus {
      background-color: var(--ui-color-accent-4);
    }
  }
}

.success {
  background-color: var(--ui-color-success-1);
  color: white;

  &.hoverable:hover,
  &.hoverable:focus {
    background-color: var(--ui-color-success-3);
  }

  &.outlined {
    background-color: var(--ui-color-success-5);
    color: var(--ui-color-success-1);

    border-color: var(--ui-color-success-1);
  
    &.hoverable:hover,
    &.hoverable:focus {
      background-color: var(--ui-color-success-4);
    }
  }
}

.error {
  background-color: var(--ui-color-error-1);
  color: white;

  &.hoverable:hover,
  &.hoverable:focus {
    background-color: var(--ui-color-error-3);
  }

  &.outlined {
    background-color: var(--ui-color-error-5);
    color: var(--ui-color-error-1);

    border-color: var(--ui-color-error-1);
  
    &.hoverable:hover,
    &.hoverable:focus {
      background-color: var(--ui-color-error-4);
    }
  }
}

.warn {
  background-color: var(--ui-color-warn-1);
  color: white;

  &.hoverable:hover,
  &.hoverable:focus {
    background-color: var(--ui-color-warn-3);
  }

  &.outlined {
    background-color: var(--ui-color-warn-5);
    color: var(--ui-color-warn-1);

    border-color: var(--ui-color-warn-1);
  
    &.hoverable:hover,
    &.hoverable:focus {
      background-color: var(--ui-color-warn-4);
    }
  }
}

.minimal {
  color: var(--ui-color-primary-1);

  &.hoverable:hover,
  &.hoverable:focus {
    color: var(--ui-color-primary-3);
  }
}

.small {
  font-size: var(--ui-type-body-size-3);
  line-height: var(--ui-type-body-lh-3);

  padding: calc(var(--ui-size-padding) * 0.25) calc(var(--ui-size-padding) * 0.5);

  &.rounded {
    padding: calc(var(--ui-size-padding) * 0.25);
  }

  &:not(.rounded).outlined {
    padding: calc((var(--ui-size-padding) * 0.25) - var(--ui-size-border-width)) calc((var(--ui-size-padding) * 0.5) - var(--ui-size-border-width)) ;
  }
}

.medium {
  font-size: var(--ui-type-body-size-2);
  line-height: var(--ui-type-body-lh-2);

  padding: calc(var(--ui-size-padding) * 0.45) calc(var(--ui-size-padding) * 0.85);

  &.rounded {
    padding: calc(var(--ui-size-padding) * 0.45);
  }

  &:not(.rounded).outlined {
    padding: calc((var(--ui-size-padding) * 0.45) - var(--ui-size-border-width)) calc((var(--ui-size-padding) * 0.85) - var(--ui-size-border-width)) ;
  }
}

.large {
  font-size: var(--ui-type-body-size-1);
  line-height: var(--ui-type-body-lh-1);

  padding: calc(var(--ui-size-padding) * 0.55) calc(var(--ui-size-padding) * 1);

  &.rounded {
    padding: calc(var(--ui-size-padding) * 0.55);
  }

  &:not(.rounded).outlined {
    padding: calc((var(--ui-size-padding) * 0.55) - var(--ui-size-border-width)) calc((var(--ui-size-padding) * 1) - var(--ui-size-border-width)) ;
  }
}

.noMargin {
  margin: 0;
}

.icon {
  margin-right: calc(var(--ui-size-padding) * 0.2);

  .noText & {
    margin-right: 0;
  }
}

.rounded {
  border-radius: 50%;
}