@import '../Common/css/base';

.filepreviewgallery {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: calc(var(--ui-size-padding) * 0.5);
  grid-row-gap: calc(var(--ui-size-padding) * 0.5);
}