@import '../Common/css/base';

.icon {
  display: inline-block;

  color: inherit;

  svg {
    width: 100%;
    height: 100%;

    fill: currentColor;
  }
}

.small {
  width: ui-rem(18px);
  height: ui-rem(18px);
}

.medium {
  width: ui-rem(24px);
  height: ui-rem(24px);
}

.large {
  width: ui-rem(36px);
  height: ui-rem(36px);
}
