@import '../Common/css/base';

.toast {
  display: block;
}

.full {
  width: 100vw;

  margin: 0;
}

.content,
.inner {
  padding: calc(var(--ui-size-padding) * 0.5);
}

.full .content {
  padding: 0;
}

.toast.outlined.full {
  border-right: none;
  border-bottom: none;
  border-left: none;
}