@import '../Common/css/base';

:root {
  --ui-toast-top: auto;
  --ui-toast-right: auto;
  --ui-toast-bottom: 0;
  --ui-toast-left: 0;

  --ui-toast-direction: column;
  --ui-toast-align: flex-start;
}

.ui-toastmanager {
  position: fixed;

  top: var(--ui-toast-top);
  right: var(--ui-toast-right);
  bottom: var(--ui-toast-bottom);
  left: var(--ui-toast-left);

  display: flex;
  flex-direction: var(--ui-toast-direction);
  align-items: var(--ui-toast-align);
}
