@import '../Common/css/base';

.section {
  font-family: var(--ui-type-sans-serif);

  border-radius: var(--ui-border-radius);

  margin-bottom: calc(var(--ui-size-padding) * 1);
}

.inline {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-column-gap: var(--ui-size-gutter);

  .content {
    margin-top: calc(var(--ui-size-padding) * 0.25);
  }
}

.card {
  padding: var(--ui-size-padding);

  box-shadow: var(--ui-box-shadow-1);
}

.heading {
  margin-bottom: calc(var(--ui-size-padding) * 0.5);

  .title {
    font-size: var(--ui-type-body-size-1);
    font-weight: bold;
    color: var(--ui-primary-color-1);
  }

  .card & {
    margin-top: calc(var(--ui-size-padding) * 0.5);
  }
}

.subtitle {
  font-size: var(--ui-type-body-size-3);
  color: var(--ui-primary-color-3);
}