$color-text: #333;

$color-bg: #F9EBD9;
$color-primary: #002360;
$color-primary-transparent-light: transparentize(#002360, 0.25);
$color-primary-transparent-heavy: transparentize(#002360, 0.75);
$color-primary-light: lighten(#002360, 20);
