@import 'base';
@import '~normalize.css';

* {
    box-sizing: border-box;
}

:root {
    --color-bg: #{$color-bg};
    --color-primary: #{$color-primary};
    --color-primary-light: #{$color-primary-light};
    --color-primary-transparent-light: #{$color-primary-transparent-light};
    --color-primary-transparent-heavy: #{$color-primary-transparent-heavy};
    --color-offset: white;
    --inactive-opacity: 0.25;
}

html,
body {
    @include bodyFont;

    height: 100%;

    line-height: 1.6;

    color: var(--color-primary);
}

body {
    display: flex;

    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    @include headlineFont;
}

h1 {
    @include font-size-x-large;
}

h2,
h3 {
    @include font-size-large;
}

button,
input,
select,
textarea {
    background-color: transparent;

    border: 0;
    border-radius: 0;

    color: inherit;

    font-family: inherit;
}

#app {
    width: 100%;
    height: 100%;

    background-color: var(--color-bg);
}

textarea,
input,
select,
button {
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;

    line-height: inherit;

    border-radius: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

h1,
h2,
h3 {
    @include headlineFont;
}

h1 {
    @include font-size-x-large;
}

h2,
h3 {
    @include font-size-large;
}
