@import '../Common/css/base';

.animation-normal {
  transition-timing-function: var(--ui-timing-function);
}

.animation-linear {
  transition-timing-function: linear;
}

.fast {
  transition-duration: var(--ui-duration-fast);
}

.normal {
  transition-duration: var(--ui-duration-normal);
}

.slow {
  transition-duration: var(--ui-duration-slow);
}