@import '../../css/base';

.filefeatures {
  display: flex;

  flex-direction: column;

  align-items: flex-end;

  span {
    font-family: monospace;
    font-weight: bold;

    color: var(--ui-color-primary-2);
  }
}
