@import '../../css/base';

.filefeatures {
  display: flex;

  flex-direction: column;

  align-items: flex-end;
  text-align: right;

  span {
    font-family: monospace;
    font-weight: bold;

    color: var(--ui-color-primary-2);

    &:last-of-type {
      opacity: 0.25;
    }
  }
}
