@import '../../../css/base';

.optionrow {
  display: flex;

  width: 100%;

  align-items: center;
  justify-content: space-between;

  font-family: inherit;

  &__title {
    display: flex;

    flex-direction: column;

    span {
      &:nth-child(2) {
        @include font-size-small;
        @include codeFont;

        color: var(--color-primary-light);
      }
    }
  }

  &--disabled {
    opacity: 0.1;
  }
}
