@import '../../../css/base';

.nav {
  font-family: inherit;

  &__links {
    padding: 0;
    margin: 0;

    list-style: none;

    li {
      margin-bottom: rem($global-gutter / 2);
    }

    &__link {
      @include headlineFont;
      @include font-size-xx-large;

      display: inline-block;

      opacity: var(--inactive-opacity);

      cursor: pointer;

      &:not(.nav__links__link--active):hover {
        opacity: 1;
      }

      &--active {
        opacity: 1;
      }
    }
  }
}
