@import '../../css/base';

.controls {
  position: relative;
  font-family: inherit;

  &__main {
    display: flex;

    align-items: center;

    font-size: var(--ui-type-body-size-1);
    padding: calc(var(--ui-size-padding) / 2);

    &__left {
      display: flex;

      align-items: center;
      flex: 1 1 auto;

      > * {
        margin-right: var(--ui-size-gutter);
      }
    }

    &__right {
      flex: 0 0 rem(100px);

      text-align: right;
    }
  }

  &__progress {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    mix-blend-mode: exclusion;

    pointer-events: none;

    --ui-progress-track-color: transparent;
    --ui-progress-bar-color: var(--ui-color-accent-2);
  }

  &__sub {
    display: flex;

    padding: var(--ui-size-padding);

    background-color: var(--ui-color-accent-2);
  }
}

.controls-button {
  --ui-button-disabled-color: var(--ui-color-accent-2);
  --ui-button-disabled-bg-color: transparent;

  &:hover {
    color: var(--ui-color-accent-3);
  }
}

.controls__sub-input {
  display: flex;

  flex-direction: column;

  padding: 0;
  margin: 0 var(--ui-size-padding) 0 0;

  font-size: var(--ui-type-headline-size-2);
  font-weight: bold;

  line-height: 1.1;

  user-select: none;

  &__title {
    font-size: var(--ui-type-body-size-2);
  }
}

.export-type {
  width: rem(70px);

  padding: 0;
  margin: 0;

  font-weight: bold;

  &__content {

  }

  &__options {
    top: auto;
    bottom: 100%;

    width: 100%;
  }

  &__trigger {
    display: block;

    cursor: pointer;

    &:hover {
      color: var(--ui-color-accent-3);
    }

    &--open {
      color: var(--ui-color-accent-3);
    }
  }

  &__option {
    display: block;

    cursor: pointer;
    color: var(--ui-color-primary-5);

    &:hover {
      color: var(--ui-color-accent-4);
    }
  }
}
