@import '../../css/base';

.timeinput {
  font-family: inherit;

  &__input {
    width: rem(35px);

    outline: 0;

    font-family: inherit;
    font-weight: bold;

    &:after {
      content: ':';
    }
  }
}
