@import '../Common/css/base';

:root {
  --ui-progress-track-color: var(--ui-color-primary-5);
  --ui-progress-bar-color: var(--ui-color-primary-5);
}

.ui-progress {
  &__small {
    height: ui-rem(12px);
  }

  &__medium {
    height: ui-rem(18px);
  }

  &__large {
    height: ui-rem(28px);
  }

  &__track {
    position: relative;

    height: 100%;

    background-color: var(--ui-progress-track-color);

    overflow: hidden;

    border-radius: var(--ui-border-radius);
  }

  &__bar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--ui-progress-bar-color);

    transition: {
      property: transform;
      timing-function: var(--ui-timing-function);
    }

    transform-origin: top left;

    .ui-progress__fast & {
      transition-duration: var(--ui-duration-fast);
    }

    .ui-progress__normal & {
      transition-duration: var(--ui-duration-normal);
    }

    .ui-progress__slow & {
      transition-duration: var(--ui-duration-slow);
    }
  }

  &__unit {
    margin-top: calc(var(--ui-size-padding) * 0.25);

    text-align: right;

    font-size: var(--ui-type-body-size-3);
    color: var(--ui-color-primary-4);
  }
}
