@import '../../css/base';
@import '../../css/defaults';

.app {
  position: relative;

  height: 100%;

  padding: 0;

  overflow: hidden;

  &__fake-head {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: calc(var(--ui-size-padding) * 1.25);

    -webkit-app-region: drag;
  }

  &__drop-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: transparent;
  }

  &__drop {
    &__video {
      position: absolute;

      top: calc(var(--ui-size-padding) * 1.5);
      left: calc(var(--ui-size-padding) * 1.5);

      width: calc(100% - ((var(--ui-size-padding) * 1.5) * 2));
      height: calc(100% - ((var(--ui-size-padding) * 1.5) * 2));

      object-fit: contain;
      background-color: var(--ui-color-primary-1);
    }
  }

  &__controls {
    position: absolute;

    bottom: 0;
    left: 0;

    background-color: var(--ui-color-accent-1);
    color: var(--ui-color-primary-5);

    width: 100%;

    transform: translate3d(0, 100%, 0);

    transition: {
      duration: var(--ui-duration-normal);
      property: transform;
      timing-function: var(--ui-timing-function);
      delay: 0.5s;
    }

    .app--has-file & {
      transform: translate3d(0, 0, 0);
    }
  }

  &__display-changer {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: rem(220px);
    font-weight: bold;

    text-transform: uppercase;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: rem(2px) var(--ui-color-primary-1);

    pointer-events: none;

    mix-blend-mode: difference;
  }

  &__logo {
    position: absolute;

    z-index: 10;

    top: 25%;
    left: 100px;

    color: var(--ui-color-accent-1);

    --logo-square-size: 50px;
  }

  &__toast-manager {
    --ui-toast-top: 0;
    --ui-toast-right: 0;
    --ui-toast-bottom: auto;
    --ui-toast-left: auto;

    z-index: 100;
  }

  &__exporting-display {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10;
  }

  &__update {
    position: fixed;

    z-index: 50;

    top: var(--ui-size-padding);
    right: var(--ui-size-padding);
  }
}
