@import '../../css/base';
@import '../../css/defaults';

.app {
  position: relative;

  height: 100%;

  padding: var(--ui-size-padding);

  &__fake-head {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: calc(var(--ui-size-padding) * 1.25);

    -webkit-app-region: drag;
  }
}
