@import '../../css/base';
@import '../../css/defaults';

.app {
  position: relative;

  height: 100%;

  padding: 0;

  &__fake-head {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: calc(var(--ui-size-padding) * 1.25);

    -webkit-app-region: drag;
  }

  &__drop-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: transparent;
  }

  &__drop {
    &__video {
      position: absolute;

      top: calc(var(--ui-size-padding) * 1.5);
      left: calc(var(--ui-size-padding) * 1.5);

      width: calc(100% - ((var(--ui-size-padding) * 1.5) * 2));
      height: calc(100% - ((var(--ui-size-padding) * 1.5) * 2));

      object-fit: contain;
      background-color: var(--ui-color-primary-1);
    }
  }
}
