@import '../../css/base';

.videoeditor {
  display: grid;

  font-family: inherit;

  grid-template-areas:
    "canvas canvas"
    "control control"
    "start end";

  user-select: none;

  &__canvas {
    grid-area: canvas;

    padding-bottom: 56.25%;
    background-color: #e5e5e5;
  }

  &__control {
    grid-area: control;
  }

  &__starttime {
    grid-area: start;
  }

  &__endtime {
    grid-area: end;

    input {
      text-align: right;
    }
  }

  input {
    outline: 0;

    opacity: var(--inactive-opacity);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
