@import '../../css/base';

$track-size: 48px;

.videoeditortimeline {
  position: relative;

  width: 100%;
  height: rem(48px);

  font-family: inherit;

  border-width: rem($global-border);
  border-style: solid;
  border-color: var(--color-primary);

  &__track {
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    height: rem($global-border);

    background-color: var(--color-primary);
    transform-origin: top left;
  }

  &__handle {
    position: absolute;

    top: 50%;
    left: 0;

    width: rem($track-size * 0.5);
    height: rem($track-size * 0.5);

    background-color: var(--color-primary);

    border-radius: 0 100% 100% 0;
    transform: translate3d(0, -50%, 0);

    cursor: pointer;

    &--right {
      border-radius: 100% 0 0 100%;
    }

    &:active {
      opacity: var(--inactive-opacity);
    }
  }
}
